

.flo-post {
  $b: ".flo-post";
  // margin-bottom: rem-calc(115);
  max-width: 100%;

  &--content{
    // margin: 0 auto 60px;
    max-width: 100%;

  }
  img {
    margin-bottom: rem-calc(2.5);
    max-width: 100%;
  }

  p {
    text-align: left;
    font-size: rem-calc(17.5);
    font-family: $font-playfair;
    line-height: rem-calc(35);
    margin-bottom: rem-calc(30);
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  /* spacing below image */
  a img, img, img.alignleft, img.alignright, img.aligncenter{
    margin-bottom: 10px;
  }

  /*--------------------------------------------------------------
  3.0 Alignments
  --------------------------------------------------------------*/

  .alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }

  .alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*--------------------------------------------------------------
  8.0 Lists
  --------------------------------------------------------------*/

  ul,
  ol {
    margin: 0 0 1.5em;
    padding: 0;
    padding-left: rem-calc(20);
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ul,
  li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin: 0 1.5em 1.5em;
  }

  /*--------------------------------------------------------------
  16.0 Media
  --------------------------------------------------------------*/

  img,
  video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
  }


  .comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  /* Make sure embeds and iframes fit their containers. */

  embed,
  iframe,
  object {
    margin-bottom: 1.5em;
    max-width: 100%;
  }

  .wp-caption,
  .gallery-caption {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
    margin-bottom: 1.5em;
    max-width: 100%;
  }

  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
  }

  /* Media Elements */

  .mejs-container {
    margin-bottom: 1.5em;
  }

  /* Audio Player */

  .mejs-controls a.mejs-horizontal-volume-slider,
  .mejs-controls a.mejs-horizontal-volume-slider:focus,
  .mejs-controls a.mejs-horizontal-volume-slider:hover {
    background: transparent;
    border: 0;
  }

  /*--------------------------------------------------------------
  16.1 Galleries
  --------------------------------------------------------------*/

  .gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 50%;
  }

  .gallery-columns-1 .gallery-item {
    width: 100%;
  }

  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }

  .gallery-item a,
  .gallery-item a:hover,
  .gallery-item a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    display: inline-block;
    max-width: 100%;
  }

  .gallery-item a img {
    display: block;
    -webkit-transition: -webkit-filter 0.2s ease-in;
    transition: -webkit-filter 0.2s ease-in;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .gallery-item a:hover img,
  .gallery-item a:focus img {
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
  }

  .gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
  }

  @include breakpoint(medium up) {

    // fighting the space between display inline elements
      div.gallery{
        font-size: 0px;
      }
    .gallery-item {
      max-width: 25%;
    }

    .gallery-columns-1 .gallery-item {
      max-width: 100%;
    }

    .gallery-columns-2 .gallery-item {
      max-width: 50%;
    }

    .gallery-columns-3 .gallery-item {
      max-width: 33.33%;
    }

    .gallery-columns-4 .gallery-item {
      max-width: 25%;
    }
    .gallery-columns-5 .gallery-item {
      max-width: 20%;
    }
    .gallery-columns-6 .gallery-item {
      max-width: 16.66%;
    }
    .gallery-columns-7 .gallery-item {
      max-width: 14.285%;
    }
    .gallery-columns-8 .gallery-item {
      max-width: 12.5%;
    }
    .gallery-columns-9 .gallery-item {
      max-width: 11.111%;
    }


    //padding-left: rem-calc(273);
    &--gap-left {
      margin-left: rem-calc(91.5);
    }
    &--gallery-post {
      padding-left: 0;
      margin: rem-calc(127) auto;
      &--gap-left {
        margin-left: rem-calc(91.5);
      }
      p {
        &:first-child {
          margin-top: 0;
        }
      }
      @include breakpoint(small only){
        margin-top: rem-calc(40);
      }
    }
  }

  @include breakpoint(small only){
    &--gallery-post {
      margin-top: rem-calc(40);
        margin-bottom: rem-calc(40);
    }
  }
}

.flo-post-wrap {
  $b: ".flo-post-wrap";


  @include breakpoint(medium up) {

    &--special-block-additional_information {
      .flo-section__content--post {
        align-items: center!important;
      }
    }
  }
}

.flo-section__content.flo-section__content--post {

  @include breakpoint(medium up) {
    align-items: flex-end;
  }

  @include breakpoint(small only) {

  }

}
